body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #003973, #E5E5BE);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #222;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 300px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    vertical-align: middle;
}


.social-buttons {
    margin-top: 10px;
}

.social-btn {
    width: 90%;
    margin: 5px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.google {
    background-color: #dd4b39;
}

.apple {
    background-color: #1b1a1aa6;
}

.facebook {
    background-color: #3b5998;
}

.hidden {
    display: none;
}

#error {
    color: red;
    font-size: 0.9em;
    margin-top: 10px;
}
